<form #form = "ngForm" (ngSubmit) = "processAddEntry(form)"
  fxLayout="column">

  <mat-form-field>
    <input type="name" name="name" 
      placeholder="Name" ngModel matInput required>
  </mat-form-field>

  <mat-form-field>
      <input type="address" name="address" 
      placeholder="Address" ngModel matInput required>
  </mat-form-field>

  <mat-form-field>
      <input type="phone" name="phone" 
      placeholder="Phone" ngModel matInput required>
  </mat-form-field>

  <mat-form-field>
      <input type="email" name="email" 
      placeholder="Email"
      ngModel matInput required>
  </mat-form-field>

<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2vw">
  <button type="submit" color="primary" 
    [disabled]="form.invalid" mat-raised-button>
    <mat-icon>note_add</mat-icon>
    ADD
  </button>
  <button type="reset" color="accent" 
     mat-raised-button>
    <mat-icon>delete_forever</mat-icon>
    Clear
  </button>
</div>
</form>
